<div class="dashboard">
    <div class="user">
      <img src="../assets/images/avatar.png" alt="" />
      <h3>Simo Edwin</h3>
      <p>Pro Member</p>
    </div>
    <div class="links">
      <div class="link">
        <img src="../assets/images/twitch.png" alt="" />
        <h2>Streams</h2>
      </div>
      <div class="link">
        <img src="../assets/images/steam.png" alt="" />
        <h2>Games</h2>
      </div>
      <div class="link">
        <img src="../assets/images/upcoming.png" alt="" />
        <h2>New</h2>
      </div>
      <div class="link">
        <img src="../assets/images/library.png" alt="" />
        <h2>Library</h2>
      </div>
    </div>
    <div class="pro">
      <h2>Join pro for free games.</h2>
      <img src="../assets/images/controller.png" alt="" />
    </div>
</div>